.inputbar {
    &__container {
        width: 70%;
        margin-top: 15vh
    }
}

@media (min-width: 768px) {
    .inputbar {
        &__container {
            margin-top: 20vh;
            width: 40%;
        }
    }
}