.daily-balance {
    &__container {
        position: absolute;
        top: 80%;
        height: 150px;
        color: rgba($color: #fff, $alpha: .5);
    }
    &__score {
        color: rgb(25, 159, 132);
        font-size: 1.5em;
    }
}