.today-meal {
    &__container {
        margin-top: 2vh;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__title {
        font-size: 1.5em;
    }
    &__input {
        background-color: #381841;
        outline: none;
        color: #fff;
        font-size: 1.3em;
        text-align: center;
        font-weight: 600;
        height: 20px;
        border: none;
        border-bottom: 2px solid #199F84;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
    &__specifications {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        span {
            margin: 0 5px;
        }
    }
    &__delete {
        width: 32px;
        height: 32px;
        opacity: 0.3;
        cursor: pointer;
        transition: all .3s ease;
        &:hover {
            opacity: 1;
        }
        &:before, &:after {
            position: absolute;
            right: 15px;
            content: ' ';
            height: 33px;
            width: 2px;
            background-color: #dd2525;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
}

@media (min-width: 768px) {
    .today-meal {
        &__container {
            width: 30%;
        }
    }
}